<h1>{{title}}</h1>
<form *ngIf="!loading" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="mb-2 col">
            <label class="form-label">Nova Senha</label>
            <input type="password" formControlName="newPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" />
            <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                <div *ngIf="f.newPassword.errors.required">Password is required</div>
                <div *ngIf="f.newPassword.errors.minlength">Password must be at least 6 characters</div>
            </div>
            <label class="form-label">Confirmação da senha</label>
            <input type="password" formControlName="newPasswordAgain" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.newPasswordAgain.errors }" />
            <div *ngIf="submitted && f.newPasswordAgain.errors" class="invalid-feedback">
                <div *ngIf="f.newPasswordAgain.errors.required">Password is required</div>
                <div *ngIf="f.newPasswordAgain.errors.minlength">Password must be at least 6 characters</div>
            </div>
        </div>
        <div class="mb-2 col">
        </div>
    </div>
    <div class="mb-3">
        <button [disabled]="submitting" class="btn btn-primary">
            <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
            Resetar senha
        </button>
        <a routerLink="/users" class="btn btn-link">Cancelar</a>
    </div>
</form>
<div *ngIf="loading" class="text-center m-5">
    <span class="spinner-border spinner-border-lg align-center"></span>
</div>